* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	// font-family: 'Inter';
	display: flex;
	flex-direction: column;
}

h1 {
	@include font(44px, 700, 54px);
}

h2 {
	@include font(44px, 700, 50px);
	max-width: 549px;
}

h3 {
	@include font(20px, 700, 40px);
	color: $color-orange;
}

a {
	text-decoration: none;
}

span {
	color: $color-green-silable;
}

object {
	pointer-events:none;
}
