.orange_button {
	@extend %transition;
	&:hover,  
	&:focus, 
	&:active {
		background-color: $color-orange;
		cursor: pointer;
		a {
			color: white;
		}
	}
}

.prices__button {
		width: 250px;
		text-align: start;
		padding-left: 40px;
		padding-right: 17px;
		height: 50px;
		border: none;
		color: #000000;
		border-radius: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		@include font(20px, 700, 0px);
		background: $color-green-background;
		@extend %transition;
		&:hover,  
		&:focus, 
		&:active {
			background-color: #9dab9a;
			cursor: pointer;
		}
}