/* inika-regular - latin */
@font-face {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../src/assets/fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../src/assets/fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../src/assets/fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../src/assets/fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
	@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../src/assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../src/assets/fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../src/assets/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../src/assets/fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  :root {
	  --p-color: #636060;
	  --link-items: #010201;
	  --heads-color: #717171;
	  --orange-color: #E06733;
	  --gray-border: #E3E1D5;
	  --contacts-list: #D6E7D2;
	  --green-background: #EDF2EC;
	  --white-background: #FFFFFF;
	  --green-silable: #499A18;
  }

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter';
}