$color-p: #636060;
$color-heads: #717171;
$color-orange: #E06733;
$color-link-items: #010201;
$color-gray-border: #E3E1D5;
$color-contacts-list: #D6E7D2;
$color-green-silable: #499A18;
$color-green-background: #EDF2EC;
$color-white-background: #FFFFFF;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
$mobile-small-width: 320px; //достаточно обеспечить отсутствие горизонтальной полосы прокрутки при сохранении всего контента страницы.
