@mixin font($size, $weight, $height, $font: ('Inter', sans-serif)) {
	font-family: $font;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// @mixin media-laptop {
// 	@media (max-width: $content-width) { @content; }
// }

// @mixin media-tablet {
// 	@media (max-width: $tablet-width ) { @content; }
// }

// @mixin media-mobile {
// 	@media (max-width: $mobile-big-width) { @content; }
// }

// @mixin media-mobilesmall {
// 	@media (max-width: $mobile-small-width) { @content; }
// }
