@mixin font($size, $weight, $height, $font: 'Inter') {
	font-family: $font;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}