.about {
	background-color: $color-white-background;
	color: $color-heads;
}

.about .wrapper {
	padding-top: 93px;
	padding-left: 109px;
	padding-bottom: 94px;
	padding-right: 109px;
	display: flex;
	align-items: center;

}

.about__description {
	width: 605px;
	height: 350px;
}

.about__description p {
	line-height: 30px;
	margin-top: 40px;
}

.about h2 {
	width: 463px;
	height: 102px;
	line-height: 52px;
}

.about__image {
	padding-left: 153px;
}