.about {
	// border: 2px solid red;
	// margin: auto;
	// width: 1440px;
	padding-top: 93px;
	padding-left: 109px;
	padding-bottom: 94px;
	padding-right: 109px;
}

.about .wrapper {
	display: flex;
	// align-items: flex-end;

}

.about__description {

}

.about h2 {
	// font-weight: lighter;
	// font-size: 40px;
}

.about__image{
	padding-left: 153px;
}