.footer {
	background-color: $color-white-background;
}

.footer .wrapper {
	color: #000000;
	font-weight: lighter;
	@include font(20px, 400, 0px);
	padding: 35px 109px 29px 109px;
	@include flex($align: center, $justify: space-between);
	a {
		color: #000000;
		@extend %transition;
		line-height: 50px;	
		text-decoration: none;
		&:hover, 
		&:focus, 
		&:active {
			text-shadow:
			1px 1px $color-white-background,
			2px 2px black;
			cursor: pointer;
		}
	}
}
