.header {
	font-size: 16px;
	background-color:  $color-green-background;
}

.header  .wrapper {
	@include flex($align: center, $justify: space-between);
	font-family: 'Inika';
}

.header__logo {
	display: flex;
	padding: 52px 0px 60px 111px;
}

.header__navigation {
	padding-right: 109px;
}

.home {
	color: $color-orange;
}

.navigation {
	display: flex;
	list-style-type: none;
	&_a {
		@extend %transition;
		margin-left: 46px;
		color: $color-link-items;
		&:hover, 
		&:focus, 
		&:active {
			text-shadow:
			1px 1px $color-white-background,
			2px 2px $color-link-items;
			cursor: pointer;
		}
	}
	.home {
		color: $color-orange;
	}
}

