.prices {
	background-color: $color-white-background;
}

.prices .wrapper {
	padding: 40px 109px 115px 109px;
	@include flex($direction: column);
}

.prices__head {
	color: #000000;
	text-align: right;
	padding-bottom: 30px;
	@include flex($align: right, $justify: space-between);
}

.prices__content {
	@include flex($align: right, $justify: space-between);
}

.prices__variants {
	width: 332px;
	height: 282.01px;
	border-radius: 20px;
	padding: 34px 41px 34px 41px;
	border: 1px solid $color-gray-border;
	@include flex($align: center, $direction: column, $justify: space-around);
}

.prices__contact-us {
	@include flex($direction: column, $justify: space-around);
	button {
		border-radius: 5px;
		padding: 12px 30px 12px 30px;
		border: 1px solid $color-orange;
		@include font(20px, 400, 26px, 'Inika');
		background-color: $color-white-background;
		a {
			color: $color-orange;
		}
	}
}
