.prices {
	background-color: $color-white-background;
}

.prices .wrapper {
	padding-top: 40px;
	padding-left: 109px;
	padding-right: 109px;
	padding-bottom: 115px;
	display: flex;
	flex-direction: column;
}

.prices__head {
	// @include font(40px, 700, 26px);
	display: flex;
	justify-content: space-between;
	text-align: right;
	color: #000000;
	padding-bottom: 30px;

}

.prices__content {
	display: flex;
	justify-content: space-between;
}

.prices__variants {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 332px;
	height: 282.01px;
	border: 1px solid $color-gray-border;
	border-radius: 20px;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-left: 41px;
	padding-right: 41px;

}

.prices__button {
	@include font(20px, 700, 0px);
	width: 250px;
	height: 50px;
	background: $color-green-background;
	border: none;
	border-radius: 20px;
	color: #000000;
	transition: 0.3s;
}

.prices__button__contact-us {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.prices__image {
	padding-left: 54px;
}

.contact-us {
	@include font(20px, 400, 26px, 'Inika');
	background-color: $color-white-background;
	border: 1px solid $color-orange;
	border-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.contact-us a {
	color: $color-orange;
}
