.service {
	background-color: $color-green-background;
}

.service .wrapper {
	padding-top: 40px;
	padding-left: 109px;
	@include flex($direction: column);
}

.servise__header {
	flex-wrap: wrap;
	padding-right: 324px;
	padding-bottom: 35px;
	@include flex($align: center, $justify: space-between);
	h2 {
		max-width: 306px;
		@include font(40px, 400, 52px, 'Inika');
	}
}

.service__button {
	width: 161px;
	height: 50px;
	text-shadow: none;
	margin-left: 38px;
	border-radius: 5px;
	text-transform: none;
	padding: 12px 40px 12px 40px;
	border: 1px solid $color-orange;	
	@include font(20px, 400, 0px, 'Inika');
	background-color: $color-green-background;
	a {
		color: $color-orange;
	}
}

.figures {
	flex-wrap: wrap;
	padding-right: 109px;
	padding-bottom: 121px;
	@include flex($justify: space-between);
}

figure {
	margin-top: 55px;
	transition: 0.3s;
	@include flex($direction: column);
	img {
		display: block;
	}
	figcaption {
		text-align: center;
		padding-bottom: 34px;
		border-radius: 0px 0px 20px 20px;
		border: 1px solid $color-gray-border;
		p {
			color: $color-heads;
			@include font(16px, 400, 20px);
		}
	}
}
