.welcome {
	color: $color-heads;
	background-color: $color-green-background;
}

.welcome .wrapper {
	display: flex;
	height: 532px;
	padding: 62px 100px 62px 79px;
}

.welcome__content {
	width: 549px;
	height: 340px;
	margin-left: 224.2px;
	display: block;
	p {
		color: $color-p;
		padding-top: 48px;
		padding-bottom: 48px;
		@include font(20px, 400, 35px);
	}
	button {
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		line-height: 20px;
		padding: 14px 27px;
		border-radius: 10px;
		text-transform: uppercase;
		border: 2px solid $color-orange;
		background-color: $color-green-background;
	}
}

.welcome_link {
	@extend %transition;
	color: $color-link-items;
	&:hover, 
	&:focus, 
	&:active {
		color: white;
		cursor: pointer;
	}
}

